<div class="navbar">

    <div class="flex gap-4 items-center">
        <a href="https://github.com/Cethien/dotnet-templates" target="_blank" rel="noopener noreferrer">
            <img src="logo.svg" class="logo">
        </a>
    </div>

    <div class="flex items-center justify-center px-4 gap-4">
        <DarkModeToggle Classes="text-xl transition duration-200 hover:scale-125 ease-in-out"/>
    </div>

</div>